<p>chat works!</p>
<!--<stream-chat>-->
<!--  <stream-channel-list></stream-channel-list>-->
<!--  <stream-channel>-->
<!--    <stream-channel-header></stream-channel-header>-->
<!--    <stream-message-list></stream-message-list>-->
<!--    <stream-message-input></stream-message-input>-->
<!--  </stream-channel>-->
<!--</stream-chat>-->
<div class="chat-container">
  <div class="messages">
    <div *ngFor="let msg of messages">
      <strong>{{ msg.user.name }}:</strong> {{ msg.text }}
    </div>
  </div>

  <div class="input">
    <input [(ngModel)]="inputMessage" placeholder="Type your message..." />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>


