<body>
<div class="profile-header">
<!--  <img src="assets/images/cover.jpg" alt="cover" class="cover-image">-->
  <div>
  <div class="profile-info">
    <img src="assets/images/profile.jpg" alt="profile" class="profile-image">
    <p id="user_name">&#64;{{this.user?.username}}</p>
    <p id="user_type">&#35;{{this.user?.user_type}}</p>
  </div>
  <button id="settings"> settings </button>
</div>

<div class="profile-content">
  <div class="description">
    <h2>Description:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod, voluptate, voluptatem,
      voluptas quae quia
    </p>
  </div>


  <div class="genres">
    <h2>Genres:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod, voluptate, voluptatem,
      voluptas quae quia
    </p>
  </div>

  <button class="edit-button">Edit Profile</button>
</div>
</div>
</body>
