body {
  padding: 20px;
}

.warning {
  font-size: 15px;
  padding: 10px 10px 0 10px;
  /*top, right, bottom, left*/
  color: #9f0f10;
  border: 2px solid #9f0f10;
  border-radius: 10px;
  background-color: #f599a9;
  margin-bottom: 1%;
}

#form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

button {
  /*width: 200px;*/
  padding: 10px;
  border: 2px solid #1F1C3F;
  /*background-color: #1F1C3F;*/
  font-size: 13px;
  color: #1F1C3F;
  border-radius: 5px;
  cursor: pointer;
  background-color: floralwhite;
}

button:hover {
  background: #433C5F;
  color: floralwhite;
  border-color: floralwhite;

  /*background-color: white;*/
  /*color: #1F1C3F;*/
}

input[type="text"],
textarea {
  /*width: 100%;*/
  padding: 8px;
  border: 2px solid #1F1C3F;
  border-radius: 5px;
  background-color: floralwhite;
  color: #1F1C3F;
  font-size: 16px;
}

textarea {
  height: 80px;
  resize: none;
  background-color: #433C5F;
  color: floralwhite;
}

.topic {
  margin-bottom: 10px;
  max-width: 100%;
  display: flex;;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topic-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.topic-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 50px;
  line-height: 1.2;
}
