<body>

<div class="warning">
<p>Join a discussion about a publishing partner or genre!
  If you cannot find anything of your liking, create your own forum!</p>
</div>
  <form id="form" (ngSubmit)="createTopic()">
  <input type="text" [(ngModel)]="newTopicName" name="topicName" placeholder="New topic name" required>
  <button type="submit">Create</button>
</form>

<hr>

<h2>Available Forums</h2>
<div *ngIf="topics$ | async as topics">
  <div class="topic" *ngFor="let topic of topics">
    <a [routerLink]="['/forums', topic.id]">
      <img src="color" alt="Topic Image" class="topic-image" />
      {{ topic.name }}
    </a>
  </div>
</div>

</body>
