<body>
<h3>Use this section to display all your work!</h3>
<!--<p>work works!</p>-->
<button class="add_book" (click)="addBook()" >Add work</button>
<hr>

<!--asta daca e lista goala-->
<p class="nothing" *ngIf="books.length==0"> Nothing to see here yet. Add your first work!</p>

<div *ngFor="let book of books; let i = index" class="book">
  <img
    alt="cover" src="assets/icons-ish/wiwiwi.jpeg" class="cover"/>
  <div class="book-info">
    <h3>{{ book.book_title }}</h3>
    <div class="description-wrapper" [class.expanded]="showMore[i]">
      <p class="description">{{ book.description }}</p>
      <div class="fade-out" *ngIf="!showMore[i]"></div>
    </div>
    <button class="read-more" (click)="toggleReadMore(i)">Read {{ showMore[i] ? 'Less &uarr;' : 'More &darr;' }}</button>

  </div>
  <img [src]="getFileTypeIcon(book.file_type)" alt="file-type" class="file-type-icon"/>

<!--  sources for the pics:
files="https://www.flaticon.com/free-icons/files-and-folders"
-->

</div>
</body>

