<body>

<div class="dialog-header">
  <h2>Add a New Book</h2>
</div>

<!--<hr>-->
<div class="dialog-body">
<div class="left-panel">
<form>
  <label>Book Title:</label>
  <input type="text" [(ngModel)]="newBook.book_title">
  <br>

  <label>Description:</label>
<!--  <button (click)="generateSummary()">Generate Summary with AI</button>-->
  <textarea [(ngModel)]="newBook.description"></textarea>
  <br>

<!--  <label>File Type:</label>-->
<!--  <input type="text" [(ngModel)]="newBook.fileType">-->
<!--  <br>-->
  <div class="form-row">
    <label>File Type:</label>
    <select id="fileType" [(ngModel)]="newBook.file_type">
      <option value="pdf">PDF</option>
      <option value="txt">TXT</option>
      <option value="word">Word Document</option>
    </select>

    <label>Visibility:</label>
    <input type="checkbox" [(ngModel)]="newBook.visibility">
    <br>
  </div>

  <div class="button-container">
    <button mat-button (click)="saveBook()">Save</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </div>
</form>
</div>
<div class="right-panel">
  <div class="dropzone"
       (dragover)="onDragOver($event)"
       (dragleave)="onDragLeave($event)"
       (drop)="onDrop($event)">
<!--    <img src="">-->
    <h2> Drag and dropfile here</h2>
    <h2> or </h2>
    <input type="file" id="fileDropRef" multiple (change)="fileBrowserHandler($event)"/>
<!--    <label for="fileDropRef">Browse files</label>-->
  </div>
</div>
</div>
</body>
