<body>
<c-carousel [wrap]="false" (itemChange)="onItemChange($event)" transition="crossfade">
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item
      class="card"
      *ngFor="let slide of slides; let i = index"
      [class.active]="i === activeSlide"
      (click)="navigateTo(slide.ref)"
      [ngStyle]="{'background-image': i === activeSlide ? 'url(' + slide.src + ')' : 'none'}">
      <c-carousel-caption *ngIf="i === activeSlide">
        <h3>{{slide.title}}</h3>
        <p>{{slide.subtitle}}</p>
      </c-carousel-caption>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control id=prev direction="prev" caption=" "></c-carousel-control>
  <c-carousel-control id=next direction="next" caption=" "></c-carousel-control>
</c-carousel>
<p>&#64;copyrights to myself</p>

</body>
